# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
env/
venv/
.venv/
*.sqlite3

# Logs
*.log
*.out

# IDEs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Sensitive configs (keep out of repo)
config/secrets.yaml
